.btn-primary {
  padding: 1rem;
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-primary:not(:disabled):hover {
  background-color: var(--primary-color-dark);
}
