<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    function decodeJwt(token) {
        const base64Url = token.split('.')[1];
        const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getIdByToken(token) {
        const decodedToken = decodeJwt(token);
        return decodedToken.usuario_id;
    }

    function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }

    function makeNote(){
        const noted = document.querySelector('input[name="noted"]').value;
        console.log(noted)

        const jwt = getCookie('data'); // Assuming the JWT is stored in a cookie named 'data'

        // Fetch the token first
        fetch('http://localhost:3000/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + jwt
            },
            body: JSON.stringify({noted: noted})
        }).then((response) => {
            return response.json();
        }).then((data) => {
            console.log('Response from server:', data);
            const usuario_id = getIdByToken(jwt);
            console.log('usuario_id:', usuario_id);

            // Now that we have the usuario_id, we can use it to set the usuario_id in the requestBody
            const requestBody = {
                noted: noted,
                usuario_id: usuario_id
            };

            console.log(requestBody)

            // Then make the second fetch request with the requestBody
            fetch('http://localhost:3000/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + jwt
                },
                body: JSON.stringify(requestBody)
            }).then((response) => {
                return response.json();
            }).then((data) => {
                console.log('Response from second request:', data);
            }).catch((error) => {
                console.error('Error:', error);
            });
        }).catch((error) => {
            console.error('Error:', error);
        });
    };
    </script>
</head>
<body>
    
    <main>
    <h1>Noted</h1>
    <form method="POST">
        <input type="text" name="noted" placeholder="noted"/><br><br>
        <button type="button" onclick="makeNote()">Noted!</button>
    </form>  
    </main>

</body>
</html>