<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    function register(){
        const registerUsername = document.querySelector('input[name="registerUsername"]').value;
        const registerPassword = document.querySelector('input[name="registerPassword"]').value;

        const requestBody = {
        username: registerUsername,
        password: registerPassword
    };

    fetch('http://localhost:3000/register', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(requestBody)
    }).then((response) => {
        return response.json();
    }).then((data) => {
        console.log('Response from server:', data);
    }).catch((error) => {
        console.error('Error:', error);
    });
    };
    </script>
</head>
<body>
    
    <main>
    <h1>Register</h1>
    <form method="POST">
        <input type="text" name="registerUsername" placeholder="username"/><br><br>
        
        <input type="password" name="registerPassword" placeholder="password"/><br><br>
        <button type="button" onclick="register()">Register</button>
    </form>  
    </main>

</body>
</html>